{% load i18n %}
{% if not module.is_empty %}
    <div id="module_{{ module.id }}" class="{{ module.render_css_classes }}">
        {% if module.show_title and module.title %}<h2>{% if module.title_url %}<a href="{{ module.title_url }}">{% trans module.title %}</a>{% else %}{% trans module.title %}{% endif %}</h2>{% endif %}
        <div class="dashboard-module-content">
            <table>
                <tr><th>Server</th><th>Version</th><th>Last Update</th><th>Last Apply</th></tr>
                {% for stat in module.content %}
                <tr>
                        <td>{{ stat.backend }}</td>
                        {% if stat.version != stat.current_version %}
                        <td bgcolor=red>Server: {{ stat.version }}<br />Current: {{ stat.current_version }}</td>
                        {% else %}
                        <td>{{ stat.version }}</td>
                        {% endif %}

                        {% if stat.last_update != stat.current_last_update %}
                        <td bgcolor=red>Server: {{ stat.last_update_human }}<br />Current: {{ stat.current_last_update_human }}</td>
                        {% else %}
                        <td>{{ stat.last_update_human }}</td>
                        {% endif %}
                        {% if stat.last_apply != stat.current_last_apply %}
                        <td bgcolor=red>Server: {{ stat.last_apply_human }}<br />Current: {{ stat.current_last_apply_human }}</td>
                        {% else %}
                        <td>{{ stat.last_apply_human }}</td>
                        {% endif %}
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>
{% endif %}
