{% extends "admin:admin/index.html" %}

{% block content %}

<table>
    <tr>
{% for server, graphs in servers.items %}
        <td>
            <table>
            <tr><td><h1>{{ server }}</h1></td></tr>
            {% for graph in graphs.graphs %}
            <tr><td>{{ graph.graph.name }}</td></tr>
            <tr><td><img src="http://{{ graphs.server.address }}:{{ config.admin_port }}/status/show_image/{{ graph.pk }}/{{ end }}/{{ start }}/" /></td></tr>
            {% endfor %}
            </table>
        </td>
{% endfor %}
    </tr>
<table>

<form action="/status/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
{% block sidebar %}
{% endblock %}
