{% extends "config:admin/index.html" %}

{% block content %}

<table>
    <tr>
{% for server, graphs in servers.items %}
        <td>
                {{ server }}
            <table>
            {% for graph in graphs %}
            <tr><td>{{ graph.graph.name }}</td></tr>
            <tr><td><img src="/status/show_image/{{ graph.pk }}/{{ end }}/{{ start }}/" /></td></tr>
            {% endfor %}
            </table>
        </td>
{% endfor %}
    </tr>
<table>

<form action="/status/" method="post">
    {% csrf_token %}
    {{ form.as_p }}
    <input type="submit" value="Submit" />
</form>
{% endblock %}
