map $http_host $upstream_{{ virtualhost.id }} {
{%- for domain in domains %}
    {%- if domain.cache == True %}
    {{ domain.name }}   lbcache;
    {%- else %}
    {{ domain.name }}   {{ domain.director.name }};
    {%- endif %}
{%- endfor %}
}
map $http_host $backend_{{ virtualhost.id }} {
{%- for domain in domains %}
    {{ domain.name }}   {{ domain.director.name }};
{%- endfor %}
}
map $http_host $normalized_{{ virtualhost.id }} {
{%- for domain in domains %}
    {{ domain.name }} {{ domain.name }};
{%- endfor %}
{%- for alias in aliases %}
    {{ alias.name }} {{ alias.domain.name }};
{%- endfor %}
}
map $http_host $cache_{{ virtualhost.id }} {
{%- for domain in domains %}
{%- if domain.cache == True %}
    {{ domain.name }}   1;
{%- endif %}
{%- endfor %}
}
map $http_host $redir_{{ virtualhost.id }} {
{%- for redir in hostRedirs %}
    {{ redir.domain.name }} {{ redir.name }};
{%- endfor %}
}
map $http_host $site_redir_{{ virtualhost.id }} {
{%- for url in urlRedir %}
    {{ url.name }} {{ url.url }};
{%- endfor %}
}

server {
{%- for cluster in virtualhost.cluster.all() %}
    listen {{ cluster.address }}:{{ cluster.port }};
    {% if cluster.ssl == True %}listen {{ cluster.address }}:{{ cluster.ssl_port }} ssl;{% endif %}
{%- endfor %}

    {%- if virtualhost.ssl_key != '' and virtualhost.ssl_cert != '' %}
    ssl_certificate {{ nginx_dir }}ssl/{{ virtualhost.id }}.crt;
    ssl_certificate_key {{ nginx_dir }}ssl/{{ virtualhost.id }}.key;
    {%- endif %}

    {%- if domains|length > 0 %}
    server_name {{ domains|map(attribute='name')|join(' ') }}{% if aliases|length > 0 %} {{ aliases|map(attribute='name')|join(' ')}}{% endif %};
    {%- endif %}


    if ( $redir_{{ virtualhost.id }} ) {
        rewrite ^(.*) $scheme://$redir_{{ virtualhost.id }}$1 last;
        return {{ virtualhost.redirect_type }};
    }
    if ( $site_redir_{{ virtualhost.id }} ){
        rewrite ^(.*) $site_redir_{{ virtualhost.id }} last;
        return {{ virtualhost.redirect_type }};
    }
{%- for location in locations %}
    location {{ location.path_url }} {
        {%- if location.backend_type == 'proxy' %}
        proxy_pass          http://$upstream_{{ virtualhost.id }}/;
        proxy_set_header    Host                    $normalized_{{ virtualhost.id }};
        proxy_set_header    X-Real-IP               $remote_addr;
        proxy_set_header    X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto       $scheme;
        {%- if location.director != None %}
        proxy_set_header    X-Director              {{ location.director.name }};
        {%- else %}
        proxy_set_header    X-Director              $backend_{{ virtualhost.id }};
        {%- endif %}
        proxy_set_header    X-enablecache           $cache_{{ virtualhost.id }};
        proxy_buffering     off;
        gzip                off;
        proxy_redirect      off;
        {%- elif location.backend_type == 'static' %}
        root   {{ location.path_fs }}/$normalized_{{ virtualhost.id }};
        index  index.html index.htm;
        {%- endif %}
        {%- if location.ip_allow_enabled == True and location.auth_basic_enabled == True %}
        satisfy any;
        {%- endif %}
        {%- if location.ip_allow_enabled == True %}
        {%- if location.ip_allow_list != '' %}
        allow {% for c in location.ip_allow_list|list() %}{% if c !=',' %}{{ c }}{% else %};
        allow {% endif %}{%- endfor %};
        {%- endif %}
        deny  all;
        {%- endif %}
        {%- if location.auth_basic_enabled == True %}
        auth_basic  "{{ location.auth_basic_msg }}";
        auth_basic_user_file "auth/{{ virtualhost.id }}.{{ location.id }}.passwd";
        {%- endif %}
        {%- if location.access_log %}
        access_log {{ location.access_log }};
        {%- endif %}
    }
{%- endfor %}
}
