server {
{%- for cluster in virtualhost.cluster.all() %}
    listen {{ cluster.address }}:{{ cluster.port }}{% if cluster.ssl == True %} ssl{% endif %};
{%- endfor %}

    {%- if domains|length > 0 %}
    server_name {{ domains|map(attribute='name')|join(', ') }}{% if aliases|length > 0 %}, {{ aliases|map(attribute='name')|join(', ')}}{% endif %};
    {%- endif %}

    map http_host $backend {
    {%- for domain in domains %}
        {{ domain.name }}   {{ domain.director.name }};
    {%- endfor %}
    }

    map $http_host $normalized {
    {%- for domain in domains %}
        {{ domain.name }} {{ domain.name }};
    {%- endfor %}
    {%- for alias in aliases %}
        {{ alias.name }} {{ alias.domain.name }};
    {%- endfor %}
    }
    map $http_host $cache {
    {%- for domain in domains %}
        {%- if domain.cache == True %}
        {{ domain.name }}   1;
        {%- endif %}
    {%- endfor %}
    }

    map $http_host $redir {
    {%- for redir in hostRedirs %}
        {{ redir.domain.name }} {{ redir.name }};
    {%- endfor %}
    }
    
    map $http_host $site_redir {
    }

    if ( $redir ) {
        rewrite ^(.*) $scheme://$redir$1 permanent;
    }
    if ( $site_redir ){
        rewrite ^(.*) $site_redir permanent;
    }
{%- for location in virtualhost.location.all() %}
    location {{ location.path_url }} {
        {%- if location.backend_type == 'proxy' %}
        proxy_pass          http://127.0.0.1:6081;
        proxy_set_header    Host                    $normalized;
        proxy_set_header    X-Real-IP               $remote_addr;
        proxy_set_header    X-Forwarded-For         $proxy_add_x_forwarded_for;
        proxy_set_header    X-Forwarded-Proto       $scheme;
        proxy_set_header    X-vns-director          $backend;
        proxy_set_header    X-enablecache           $cache;
        proxy_buffering     off;
        gzip                off;
        proxy_redirect      off;
        {%- elif location.backend_type == 'static' %}
        root   {{ location.path_fs }}/$host;
        index  index.html index.htm;
        {%- endif %}
        {%- if ip_allow_enabled == True and location.auth_basic_enabled == True %}
        satisfy any;
        {%- endif %}
        {%- if ip_allow_enabled == True %}
        allow 192.168.1.0/24;
        deny  all;
        {%- endif %}
        {%- if location.auth_basic_enabled == True %}
            auth_basic  "{{ location.auth_basic_msg }}";
            auth_basic_user_file PERDEFINIR
        {%- endif %}
    }
{%- endfor %}

}
