{% extends "admin:admin/index.html" %}

{% block content %}

<table>
{% for key, cluster in clusters.iteritems %}
    <tr>
            <td valign="middle" rowspan="{{ cluster.rowspan  }}">{{ key }}</td>
            {% for vhost_name, vhost in cluster.vhosts.iteritems %}
            {% if not forloop.first %}<tr>{% endif %}
            <td>{{ vhost_name }}</td>
            <td>
                    <table>
                            <tr><td>Webs/Alias</td><td>
                            <ul>
                            {% for web in vhost.web %}
                            <li>{{ web }}</li>
                            {% for alias in vhost.alias.objects.filter(domain=web) %}
                            {% endfor %}
                            {% endfor %}
                            </ul>
                            </td></tr>
                            <tr><td>Host Redir</td><td></td></tr>
                            <tr><td>URL Redir</td><td></td></tr>
                    </table>
            </td>
            </tr>
            {% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}
