{% extends "admin:admin/index.html" %}

{% block content %}

<table style="width: 700;">
        <tr><th>Service IP Cluster</th><th>VirtualHost</th><th>Webs/Alias/Redirs</th></tr>
{% for key, cluster in clusters.iteritems %}
    <tr>
            <td rowspan="{{ cluster.rowspan  }}">{{ key }}</td>
            {% for vhost_name, vhost in cluster.vhosts.iteritems %}
            {% if not forloop.first %}<tr>{% endif %}
            <td>{{ vhost_name }}</td>
            <td>
                    <ul>
                    {% if vhost.web|length > 0 %}
                            <li>Webs
                    <ul>
                            {% for web in vhost.web %}
                            <li>
                            {{ web.web }}
                            {% if web.alias|length > 0 %}
                            <ul>
                                    <li>Alias
                                    <ul>
                                    {% for alias in web.alias %}
                                    <li>{{ alias }}</li>
                                    {% endfor %}
                                    </ul>
                                    </li>
                            </ul>
                            {% endif %}
                            {% if web.hostredir|length > 0 %}
                            <ul>
                                    <li>Redirect from:<ul>
                                    {% for hostredir in web.hostredir %}
                                    <li>{{ hostredir }}</li>
                                    {% endfor %}
                                    </ul></li>
                            </ul>
                            {% endif %}
                            </li>
                            {% endfor %}
                    </ul>
                    </li>
                    {% endif %}
                    {% if vhost.urlredir|length > 0 %}
                    <li>Redirects
                    <ul>
                            {% for urlredir in vhost.urlredir %}
                            <li>{{ urlredir }} -&gt; {{ urlredir.url }}</li>
                            {% endfor %}
                    </ul>
                    </li>
                    {% endif %}
            </ul>
            </td>
            </tr>
            {% endfor %}
{% endfor %}
</table>
{% endblock %}

{% block sidebar %}
{% endblock %}
