# Global Directives
checktimeout=3
checkinterval=1
autoreload=yes
#logfile="/var/log/ldirectord.log"
#logfile="local0"
#emailalert="admin@x.y.z"
#emailalertfreq=3600
#emailalertstatus=all
quiescent=yes
{% for cluster in clusters %}
virtual={{ cluster.address }}:{{ cluster.port }}
{% for member in cluster.backends.all %}{% if member.enabled == True %}    real={{ member.server.address }}:{{ member.port }} {{ cluster.mode }}{% if not forloop.last %}
{% endif %}{% endif %}{% endfor %}{% if cluster.fallback_ip != '' %}    
    fallback={{ cluster.fallback_ip }}:{{ cluster.fallback_port }}{% endif %}
    scheduler={{ cluster.scheduler }}
    protocol={{ cluster.protocol }}
{% endfor %}
